
# Exemplo de variáveis de ambiente
NODE_ENV=
PORT=
DATABASE_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_URL=
REDIS_PASSWORD=
APP_SECRET=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_SECRET=
SESSION_SECRET=
ALLOWED_ORIGINS=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
